In [8]:
import pandas as pd

df = pd.read_excel("C:/Users/thela/OneDrive/Desktop/project/sales_analytics_system/data/raw/sales_dataset_raw.xlsx")
df.head()

,order_id,order_date,Product Name,Category,quantity,total_price,customer_type,payment_method,City
0,1001,45266,Bush Somerset Collection Bookcase,Furniture,2,261.96,Individual,Card,Henderson
1,1002,45267,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Furniture,3,731.94,Business,E-Wallet,Henderson
2,1003,45268,Self-Adhesive Address Labels for Typewriters b...,Office Supplies,2,14.62,Individual,Cash,Los Angeles
3,1004,45269,Bretford CR4500 Series Slim Rectangular Table,Furniture,5.7,9575776,Individual,Card,NaN
4,1005,NaN,Eldon Fold 'N Roll Cart System,Office Supplies,2,22368,Business,Bank Transfer,Fort Lauderdale

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        149 non-null    object
 1   order_date      148 non-null    object
 2   Product Name    148 non-null    object
 3   Category        148 non-null    object
 4   quantity        148 non-null    object
 5   total_price     149 non-null    object
 6   customer_type   148 non-null    object
 7   payment_method  150 non-null    object
 8   City            148 non-null    object
dtypes: object(9)
memory usage: 10.7+ KB

In [5]:
df.describe()

,order_id,order_date,Product Name,Category,quantity,total_price,customer_type,payment_method,City
count,149,148,148,148,148,149,148,150,148
unique,145,148,140,6,22,147,6,14,83
top,1010,45266,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Office Supplies,3,77.88,Individual,Card,Los Angeles
freq,2,1,2,84,36,2,100,61,16

In [6]:
df.columns

Index(['order_id', 'order_date', 'Product Name', 'Category', 'quantity',
       'total_price', 'customer_type', 'payment_method', 'City'],
      dtype='object')

In [7]:
df.isnull().sum()

order_id          1
order_date        2
Product Name      2
Category          2
quantity          2
total_price       1
customer_type     2
payment_method    0
City              2
dtype: int64

In [9]:
df[df.isnull().any(axis=1)]

,order_id,order_date,Product Name,Category,quantity,total_price,customer_type,payment_method,City
3,1004,45269,Bretford CR4500 Series Slim Rectangular Table,Furniture,5.7,9575776,Individual,Card,NaN
4,1005,NaN,Eldon Fold 'N Roll Cart System,Office Supplies,2,22368,Business,Bank Transfer,Fort Lauderdale
19,1020,46746,NaN,Technology,3,213.48,Business,Card,San Francisco
22,1023,45288,"Acco Six-Outlet Power Strip, 4' Cord Length",Office Supplies,7,60.34,NaN,E-Wallet,Fremont
31,1032,45297,"BOSTON Model 1800 Electric Pencil Sharpeners, ...",Office Supplies,NaN,86304,Individual,Card,Philadelphia
34,1035,45300,NaN,Office Supplies,3,29472,Individual,Card,Houston
38,1039,45304,"Atlantic Metals Mobile 3-Shelf Bookcases, Cust...",Furniture,NaN,NaN,Business,Bank Transfer,Houston
50,1051,45316,Avery 485,NaN,6,75.18,Business,Card,New Albany
62,1063,NaN,Verbatim 25 GB 6x Blu-ray Single Layer Recorda...,Technology,2,13.98,Individual,Cash,Los Angeles
74,NaN,45340,Safco Industrial Wire Shelving System,Office Supplies,1,72784,Individual,Cash,Memphis
81,1082,45347,"Premium Writing Pencils, Soft, #2 by Central A...",NaN,5,14.9,Individual,E-Wallet,San Franciso
126,1127,45393,"Avery Durable Slant Ring Binders, No Labels",Office Supplies,2,2388,Business,E-Wallet,NaN
141,1142,45408,Newell 343,Office Supplies,3,82.8,NaN,Card,San Franciso

In [10]:
df.duplicated().sum()

np.int64(0)

In [12]:
# 1) تعبئة النصوص الناقصة
df["City"] = df["City"].fillna("Unknown")
df["Category"] = df["Category"].fillna("Unknown")
df["Product Name"] = df["Product Name"].fillna("Unknown")
df["customer_type"] = df["customer_type"].fillna("Unknown")

# 2) حذف الصفوف اللي فيها نقص في الأعمدة الأساسية
df = df.dropna(subset=["order_id", "order_date", "quantity", "total_price"])
df.isnull().sum()

order_id          0
order_date        0
Product Name      0
Category          0
quantity          0
total_price       0
customer_type     0
payment_method    0
City              0
dtype: int64

In [ ]:
import pandas as pd

df = pd.read_excel("C:/Users/thela/OneDrive/Desktop/project/sales_analytics_system/data/raw/sales_dataset_raw.xlsx")
df["order_date"] = pd.to_numeric(df["order_date"], errors="coerce")
df["order_date"] = pd.to_datetime(df["order_date"], origin="1899-12-30", unit="D")
df["order_date"] = df["order_date"].dt.date
df["order_date"].head(10)

0    2023-12-06
1    2023-12-07
2    2023-12-08
3    2023-12-09
4           NaT
5    2023-12-11
6    2023-12-12
7    2023-12-13
8    2023-12-14
9           NaT
Name: order_date, dtype: object

In [24]:
df = df.dropna(subset=["order_date"])
df["order_date"].isnull().sum()

np.int64(0)

In [23]:
df["total_price"] = df["total_price"].astype(str)

# حذف أي فواصل أو مسافات
df["total_price"] = df["total_price"].str.replace(",", "", regex=False)
df["total_price"] = df["total_price"].str.replace(" ", "", regex=False)

# تحويله لرقم
df["total_price"] = pd.to_numeric(df["total_price"], errors="coerce")
df["total_price"].describe()

count    1.470000e+02
mean     1.433439e+05
std      8.174444e+05
min     -9.618000e+03
25%      3.420000e+01
50%      2.085600e+02
75%      3.317700e+04
max      9.575776e+06
Name: total_price, dtype: float64

In [25]:
# نخلي أي قيمة سالبة = NaN
df.loc[df["total_price"] < 0, "total_price"] = None
df.loc[df["total_price"] > 10000, "total_price"] = df["total_price"] / 1000
df["total_price"].describe()

count     143.000000
mean      528.298818
std      1461.830608
min         0.000000
25%        27.240000
50%        77.880000
75%       234.468000
max      9708.000000
Name: total_price, dtype: float64

In [28]:
#تأكد من نوع البيانات + تنظيف لو فيها فواصل/رموز
df["quantity"] = df["quantity"].astype(str)
df["quantity"] = df["quantity"].str.replace(",", "", regex=False)
df["quantity"] = df["quantity"].str.replace(" ", "", regex=False)
df["quantity"] = pd.to_numeric(df["quantity"], errors="coerce")
df["quantity"].describe()

count     140.000000
mean       33.162143
std       337.749531
min        -6.000000
25%         2.000000
50%         3.000000
75%         6.000000
max      4000.000000
Name: quantity, dtype: float64

In [32]:
df[df["quantity"] <= 0]
df.loc[df["quantity"] <= 0, "quantity"] = None
df["quantity"].isnull().sum()
df["quantity"] = df["quantity"].round().astype("Int64")
df["quantity"].head(10)

0        2
1        3
2        2
3        6
5        7
6        4
7        6
8        3
10       9
11    <NA>
Name: quantity, dtype: Int64

In [33]:
summary = pd.DataFrame({
    "Column": df.columns,
    "DataType": df.dtypes.values,
    "Missing": df.isnull().sum().values,
    "Unique": df.nunique().values
})
summary

           Column DataType  Missing  Unique
0        order_id   object        1     143
1      order_date   object        0     147
2    Product Name   object        2     137
3        Category   object        2       6
4        quantity    Int64       11      14
5     total_price  float64        4     141
6   customer_type   object        2       6
7  payment_method   object        0      14
8            City   object        2      82

In [38]:
df["order_date"] = pd.to_datetime(df["order_date"], errors="coerce")

df["order_date"].dtype
text_cols = ["Product Name", "Category", "customer_type", "City"]

df[text_cols] = df[text_cols].fillna("Unknown")
df["order_id"] = pd.to_numeric(df["order_id"], errors="coerce").astype("Int64")
df = df.dropna(subset=["order_id"])
df = df.dropna(subset=["quantity", "total_price"])

In [10]:
df["City"] = df["City"].str.strip()
df["Category"] = df["Category"].str.strip()
df["customer_type"] = df["customer_type"].str.strip()
df["payment_method"] = df["payment_method"].str.strip()
df["City"] = df["City"].str.title()
df["Category"] = df["Category"].str.title()
df["customer_type"] = df["customer_type"].str.title()
df["payment_method"] = df["payment_method"].str.title()

In [13]:
df[df["City"].str.contains("Franc", na=False)]["City"].value_counts()
df["City"] = df["City"].replace({
    "San Franciso": "San Francisco"
})
df["City"].value_counts()

City
Los Angeles      17
Houston          11
Philadelphia      9
Troy              7
San Francisco     6
                 ..
Rose Ville        1
Independance      1
Pasadena          1
New Ark           1
Frankln           1
Name: count, Length: 67, dtype: int64

In [14]:
text_cols = ["Product Name", "Category", "customer_type", "payment_method", "City"]

for col in text_cols:
    print("\n---", col, "---")
    print(df[col].value_counts().head(20))

--- Product Name ---
Product Name
Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back                     2
Bretford CR4500 Series Slim Rectangular Table                                   2
DXL Angle-View Binders with Locking Rings by Samsill                            2
Howard Miller 13-3/4" Diameter Brushed Chrome Round Wall Clock                  2
Imation 8gb Micro Traveldrive Usb 2.0 Flash Drive                               2
Longer-Life Soft White Bulbs                                                    2
Panasonic Kx-TS550                                                              2
Safco Industrial Wire Shelving                                                  2
Self-Adhesive Address Labels for Typewriters by Universal                       1
Eldon Fold 'N Roll Cart System                                                  1
Newell 322                                                                      1
Bush Somerset Collection Bookcase                                               1
Konftel 250 Conference phone - Charcoal black                                   1
Chromcraft Rectangular Conference Tables                                        1
Belkin F5C206VTEL 6 Outlet Surge                                                1
Mitel 5320 IP Phone VoIP phone                                                  1
Eldon Expressions Wood and Plastic Desk Accessories, Cherry Wood                1
Stur-D-Stor Shelving, Vertical 5-Shelf: 72"H x 36"W x 18 1/2"D                  1
Holmes Replacement Filter for HEPA Air Cleaner, Very Large Room, HEPA Filter    1
Fellowes Super Stor/Drawer                                                      1
Name: count, dtype: int64

--- Category ---
Category
Office Supplies    86
Furniture          35
Technology         26
Other               1
Name: count, dtype: int64

--- customer_type ---
customer_type
Individual    102
Business       44
Company         1
B2B             1
Name: count, dtype: int64

--- payment_method ---
payment_method
Card             64
E-Wallet         35
Cash             29
Bank Transfer    17
Ewallet           1
Crypto            1
Bt                1
Cheque            1
Cc                1
Name: count, dtype: int64

--- City ---
City
Los Angeles      17
Houston          11
Philadelphia      9
Troy              7
San Francisco     6
Roseville         5
Columbus          5
Wilmington        4
Chicago           4
New Albany        4
New York City     3
Memphis           3
Henderson         2
Rochester         2
Eagan             2
Fremont           2
Los Angles        2
Gilbert           2
Seattle           2
Urbandale         2
Name: count, dtype: int64

In [15]:
# ================================
# Standardization (Text Cleaning)
# ================================

# 1) إزالة المسافات الزائدة من بداية/نهاية النصوص
text_cols = ["City", "Category", "customer_type", "payment_method", "Product Name"]
for col in text_cols:
    df[col] = df[col].astype(str).str.strip()

# 2) توحيد حالة الأحرف (اختياري)
# هنا نخلي أول حرف كبير لكل كلمة (مناسب للمدن والأنواع)
df["City"] = df["City"].str.title()
df["Category"] = df["Category"].str.title()
df["customer_type"] = df["customer_type"].str.title()
df["payment_method"] = df["payment_method"].str.title()

# 3) تصحيح أخطاء التهجئة وتوحيد القيم (Mapping)
# City fixes
city_mapping = {
    "Los Angles": "Los Angeles",
    "San Franciso": "San Francisco"
}
df["City"] = df["City"].replace(city_mapping)

# Payment method fixes
payment_mapping = {
    "Ewallet": "E-Wallet",
    "E Wallet": "E-Wallet",
    "Cc": "Card",
    "Bt": "Bank Transfer"
}
df["payment_method"] = df["payment_method"].replace(payment_mapping)

# Customer type fixes
customer_mapping = {
    "Company": "Business",
    "B2B": "Business"
}
df["customer_type"] = df["customer_type"].replace(customer_mapping)

# 4) تحويل القيم "Nan" النصية إلى NaN الحقيقي (احتياط مهم)
df.replace("Nan", pd.NA, inplace=True)
df.replace("None", pd.NA, inplace=True)

# ================================
# Check results after standardization
# ================================
print("Payment Methods:\n", df["payment_method"].value_counts(), "\n")
print("Customer Types:\n", df["customer_type"].value_counts(), "\n")
print("Cities (Top 20):\n", df["City"].value_counts().head(20), "\n")

Payment Methods:
 payment_method
Card             65
E-Wallet         36
Cash             29
Bank Transfer    18
Crypto            1
Cheque            1
Name: count, dtype: int64

Customer Types:
 customer_type
Individual    102
Business       46
Name: count, dtype: int64

Cities (Top 20):
 City
Los Angeles      19
Houston          11
Philadelphia      9
Troy              7
San Francisco     6
Roseville         5
Columbus          5
Wilmington        4
New Albany        4
Chicago           4
Memphis           3
New York City     3
Henderson         2
Gilbert           2
Eagan             2
Rochester         2
Dover             2
Fort Worth        2
Urbandale         2
Aurora            2
Name: count, dtype: int64

In [ ]:
df.to_csv("C:/Users/thela/OneDrive/Desktop/project/sales_analytics_system/data/processed/sales_clean.csv", index=False)
print("Saved successfully ✅")

Saved successfully ✅